
.carousel{
	margin-top: 50px;
}
<<<<<<< HEAD
=======

>>>>>>> 9f70dd890f9973472f7fd209456662bebbc396a0

#customForm {
	background-color: red;
	width: 20%;
	height: 100%;
	position: absolute;
	margin-left: 0;
	margin-top: 0;
	visibility: visible;
	z-index: 1500;
	float:left;
}

.searchbar{
	position: absolute;
	z-index: 99999;
	background: rgba(0,0,0,0.7);
	float:left;
	width: 250px;
	height: 400px;
<<<<<<< HEAD
	top: 150px;
=======


>>>>>>> 9f70dd890f9973472f7fd209456662bebbc396a0
	top: 100px;

}