
.carousel{
	margin-top: 50px;
}

.navbar-fixed-top{
	border-radius: 0px !important;
}


.searchbar{
	position: absolute;
	padding: 10px;
	z-index: 100;
	padding: 10px;
	background: rgba(0,0,0,0.7);
	float:left;
	width: 250px;
	height: 360px;
	top: 50px;

	color: white;
	font-weight: bold;
}

.searchbar input{
	color: black;
}